body {
background-color: #331c05;
}


.bowl-top {
    margin: 2;
    padding: 2;
    background-color: skyblue;
    position: absolute;
    top: 400px;
    left: 200px;
    transform: translate(-50%, -50%);
    transform: rotate(180deg);
    height: 300px;
    width: 700px;
    border-radius: 150px 150px 0 0;
    z-index: 10;
    }

.bowl-bottom {
    position: absolute;
    top: 490px;
    left: 370px;
    border-bottom: 120px solid skyblue;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 200px;
    width: 280px;
    z-index: 9;
    }

.stem-1 {
    position: absolute;
    left: 220px;
    top: 290px;
    height:65px;
    width:6px;
    background-color: #1f801f;
    transform: rotate(-44deg);
    z-index: 8;
    }

.leaf-1 {
    position: absolute;
    left: 86px;
    top: 250px;
    width: 100px;
    height: 100px;
  	border-radius: 0 70px;
  	background-color: #1f801f;
  	transform: rotate(-44deg);
    z-index: 7;
    }

.orange-1 {
  position: absolute;
width: 200px;
height: 200px;
left: 205px;
top: 300px;

  background-image: linear-gradient(orange, #c45f02);
  border-radius: 50%;
  transform: rotate(-45deg);
  z-index: 6;
}


.stem-2 {
  position: absolute;
  left: 455px;
  top: 320px;
  height:50px;
  width:6px;
  background-color: #1f801f;
  transform: rotate(35deg);
  z-index: 5;
}

.leaf-2 {
  position: absolute;
  left: 470px;
  top: 283px;
  width: 100px;
	height: 100px;
	border-radius: 0 70px;
	background-color: #1f801f;
	transform: rotate(-61deg);
  z-index: 5;
}

.orange-2 {
  position: absolute;
  left: 300px;
  top: 330px;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(orange, #c45f02);
  border-radius: 50%;
  transform: rotate(-10deg);
  z-index: 5;
}



.stem-3 {
  position: absolute;
  left: 570px;
  top: 73px;
  height:100px;
  width:6px;
  background-color: #1f801f;
  transform: rotate(-15deg);
  z-index: 3;
}

.leaf-3 {
  position: absolute;
  left: 567px;
  top: 12px;
  width: 100px;
	height: 100px;
	border-radius: 0 70px;
	background-color: #1f801f;
	transform: rotate(90deg);
  z-index: 3;
}

.orange-3 {
  position: absolute;
  left: 500px;
  top: 120px;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(orange, #c45f02);
  border-radius: 50%;
  transform: rotate(-10deg);
  z-index: 3;
}



.stem-4 {
  position: absolute;
  left: 400px;
  top: 220px;
  height:50px;
  width:6px;
  background-color: #1f801f;
  transform: rotate(-5deg);
  z-index: 3;
}

.leaf-4 {
  position: absolute;
  left: 283px;
  top: 173px;
  width: 100px;
	height: 100px;
	border-radius: 0 70px;
	background-color: #1f801f;
	transform: rotate(140deg);
  z-index: 3;
}

.orange-4 {
  position: absolute;
  left: 355px;
  top: 200px;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(orange, #c45f02);
  border-radius: 50%;
  transform: rotate(-20deg);
  z-index: 3;
}




.stem-5 {
  position: absolute;
  left: 600px;
  top: 270px;
  height:70px;
  width:6px;
  background-color: #1f801f;
  transform: rotate(20deg);
  z-index: 4;
}

.leaf-5 {
  position: absolute;
  left: 505px;
  top: 203px;
  width: 100px;
	height: 100px;
	border-radius: 0 70px;
	background-color: #1f801f;
	transform: rotate(180deg);
  z-index: 4;
}

.orange-5 {
  position: absolute;
  left: 455px;
  top: 300px;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(orange, #c45f02);
  border-radius: 50%;
  transform: rotate(-50deg);
  z-index: 4;
}


.stem-6 {
  position: absolute;
  left: 750px;
  top: 190px;
  height:50px;
  width:6px;
  background-color: #1f801f;
  transform: rotate(35deg);
  z-index: 3;
}

.leaf-6 {
  position: absolute;
  left: 778px;
  top: 160px;
  width: 100px;
	height: 100px;
	border-radius: 0 70px;
	background-color: #1f801f;
	transform: rotate(320deg);
  z-index: 3;
}

.orange-6 {
  position: absolute;
  left: 605px;
  top: 160px;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(orange, #c45f02);
  border-radius: 50%;
  transform: rotate(0deg);
  z-index: 3;
}




.stem-7 {
  position: absolute;
  left: 852px;
  top: 300px;
  height:50px;
  width:6px;
  background-color: #1f801f;
  transform: rotate(35deg);
  z-index: 3;
}

.leaf-7 {
  position: absolute;
  left: 840px;
  top: 205px;
  width: 100px;
	height: 100px;
	border-radius: 0 70px;
	background-color: #1f801f;
	transform: rotate(70deg);
  z-index: 3;
}

.orange-7 {
  position: absolute;
  left: 707px;
  top: 260px;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(orange, #c45f02);
  border-radius: 50%;
  transform: rotate(0deg);
  z-index: 3;
}


.stem-8 {
  position: absolute;
  left: 745px;
  top: 280px;
  height:50px;
  width:6px;
  background-color: #1f801f;
  transform: rotate(35deg);
  z-index: 3;
}

.leaf-8 {
  position: absolute;
  left: 645px;
  top: 223px;
  width: 100px;
	height: 100px;
	border-radius: 0 70px;
	background-color: #1f801f;
	transform: rotate(160deg);
  z-index: 3;
}

.orange-8 {
  position: absolute;
  left: 600px;
  top: 260px;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(orange, #c45f02);
  border-radius: 50%;
  transform: rotate(270deg);
  z-index: 3;
}
