body {
background-color: #e0cd9b;
color: #12110f;
font-family: 'EB Garamond';
letter-spacing: 5px;
font-weight: normal;
}

h1 {
  font-size: 60px;
  letter-spacing: 10px;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 10px;
  font-family: 'EB Garamond';
  text-align: center;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 10px;
  font-family: 'EB Garamond';
  text-align: center;
}

a {
  font-size: 30px;
  text-decoration: none;
  font-weight: normal;
  text-align: center;

}

a:link {
  color: #12110f;
}

a:visited {
  color: #12110f;
}

a:hover {
  color: #8c5522;
  font-weight: bold;
}

a:active {
  color: #12110f;
}

.entry-1:hover {

}
