body {
  /* background-image: url(assets/track.jpeg); */
  background-size: cover;
  background-position: center;
  background-color: powderblue;
  font-family: 'Courier Prime', monospace;
  text-align: center;
  letter-spacing: 5px;
}

.title {
  /* font-family: 'Libre Barcode 39', cursive; */
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  align-items:  center;
  height:  100vh;
}

img {
  width: 50%;
}

.button {
  padding: 20px 50px;
  border-radius: 30px;
  background-color: white;
  color: black;
  font-size: 60px;
  font-size: 20px;
  text-align: center;
  text-align: center;
  transition: all 100ms;
}

/*

.button:hover {
  background-color: #DEB887;
  cursor:  pointer;
}

.buttonOn {
  background-color:  black;
  color:  white;
}

.light {
  background-color: papayawhip;
} */
