body {

  background-color: #000000;
  font-family: 'Basteleur';
}

h1 {
  color: white;
  font-size: 100px;
  letter-spacing: 15px;
}


h2{
  color: white;
  font-size: 55px;
}

h4 {
  color:white;
}

h6 {
  color:black;
  font-size: 16px;

}

p{
  color: white;
}

b {
font-size: 36px;
line-height: 20px; font-size: 20px;
transition: all 1.5s ease-in-out;

}

b:hover {
  font-size: 40px;
}

.cs-menu{
  color: black;
  font-family: 'Times';
  font-size: 17px;
  letter-spacing: 3px;
  text-align: right;
}

.cs-menu {
  position: left;
  top: 45%;
  right:10%;
}

.cs-menu .item {
  margin: 0 0 0 right;
  border: 2px solid white;
  width: 0px;
  height: 150px;
  background: white;
  transition: width 1s;
}

.cs-menu .item:hover {
  width: 750px;
}

.imgfilters img {
  margin: auto;
  -webkit-transition: all 1.5s ease-in-out;

}

.imgfilters img:hover {
  webkit-filter: invert(1);
    filter: invert(1);
}

.moon {
  width: 100px;
  height: 100px;
  transform: rotate(90deg);
  position: left;
  display: flex;
  border-radius: 50%;
  margin: left;
  padding: auto;

  -webkit-transition: all 1.0s ease-in-out;
}


.moon:hover {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: left;
  transform: rotate(0deg);
  cursor: pointer;

}

.poem{
line-height: 30px;
}

.godwin {
text-align: right;
position: right;
margin: auto;
padding: 10px;
top: 50%;
right:10%;
}
