body {

  background-color: #000000;
}

h1 {
  color: white;
  font-size: 100px;
}


h2{
  color: white;
  font-size: 55px;
}

h4 {
  color:white;
}

h6 {
  color:black;
  font-size: 16px;

}

p{
  color: white;
  vertical-align: middle;
}

b {
font-size: 36px;

}

.cs-menu{
  color: black;
  font-family: 'Times';
  font-size: 17px;
  letter-spacing: 3px;
  text-align: right;
}

.cs-menu {
  position: left;
  top: 45%;
  right:10%;
}

.cs-menu .item {
  margin: 0 0 0 right;
  border: 2px solid white;
  width: 0px;
  height: 150px;
  background: white;
  transition: width 1s;
}

.cs-menu .item:hover {
  width: 750px;
}

.imgfilters img {
  margin: auto;
}

.imgfilters img:hover {
  webkit-filter: invert(100%); /* Chrome, Safari, Opera */
    filter: invert(100%);
}

.glowing-circle {
  display: inline-block;
  line-height: 100px;
  transform: rotate(90deg);
  position: left;
  display: flex;
  margin: left;
  padding: auto;
  width: 100px;
  height: 100px;
  border-radius:50%;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 1.0s ease-in-out;
  background-color: #fff;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f0f, 0 0 40px #0ff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.glowing-circle:hover {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: left;
  transform: rotate(0deg);
  cursor: pointer;
}

.moon {
  width: 100px;
  height: 100px;
  transform: rotate(90deg);
  position: left;
  display: flex;
  border-radius: 50%;
  margin: left;
  padding: auto;

  -webkit-transition: all 1.0s ease-in-out;
}


.moon:hover {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: left;
  transform: rotate(0deg);
  cursor: pointer;

}

.godwin {
float: right;
text-align: right;

}
