body {
	background-image: linear-gradient(#040c2f, #0a154a, #07155c);
	padding: 400px;
}

h1 {
	position: absolute;
	left: 500px;
	top: 600px;
	font-family: "Basteleur";
	font-size: 50px;
	color: white;
}

.cloud {
	width: 350px; height: 120px;

	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: absolute;
	left: 400px;
	top: 325px;
	margin: 120px auto 20px;
	-webkit-transition: all 0.5s ease-in-out;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}



.cloud-2 {
	width: 350px; height: 120px;

	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: absolute;
	left: 500px;
	top: 250px;
	margin: 120px auto 20px;
	-webkit-transition: all 2.0s ease-in-out;

}

.cloud-2:after, .cloud-2:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud-2:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud-2:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}



.cloud-3 {
	width: 350px; height: 120px;

	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: absolute;
	left: 700px;
	top: 100px;
	margin: 120px auto 20px;
	-webkit-transition: all 0.5s ease-in-out;

}

.cloud-3:after, .cloud-3:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud-3:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud-3:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}



.cloud-4 {
	width: 350px; height: 120px;

	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: absolute;
	left: 850px;
	top: 350px;
	margin: 120px auto 20px;
	-webkit-transition: all 1.0s ease-in-out;

}

.cloud-4:after, .cloud-4:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud-4:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud-4:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}



.cloud-5 {
	width: 350px; height: 120px;

	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: absolute;
	left: 745px;
	top: 300px;
	margin: 120px auto 20px;
	-webkit-transition: all 0.5s ease-in-out;

}

.cloud-5:after, .cloud-5:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud-5:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud-5:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}



.cloud-6 {
	width: 350px; height: 120px;

	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: absolute;
	left: 420px;
	top: 160px;
	margin: 120px auto 20px;
	-webkit-transition: all 2.5s ease-in-out;

}

.cloud-6:after, .cloud-6:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud-6:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud-6:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}



.cloud-7 {
	width: 350px; height: 120px;

	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: absolute;
	left: 310px;
	top: 230px;
	margin: 120px auto 20px;
	-webkit-transition: all 1.5s ease-in-out;

}

.cloud-7:after, .cloud-7:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud-7:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud-7:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}



.cloud-8 {
	width: 350px; height: 120px;

	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: absolute;
	left: 720px;
	top: 220px;
	margin: 120px auto 20px;
	-webkit-transition: all 0.5s ease-in-out;

}

.cloud-8:after, .cloud-8:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud-8:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud-8:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.clouds {
	padding: 20px;
	-webkit-transition: all 1.0s ease-in-out;
}

.clouds:hover .cloud{
	opacity: 0%;
}

.clouds:hover .cloud-2{
	opacity: 0%;
}

.clouds:hover .cloud-3{
	opacity: 0%;
}

.clouds:hover .cloud-4{
	opacity: 0%;
}

.clouds:hover .cloud-5{
	opacity: 0%;
}

.clouds:hover .cloud-6{
	opacity: 0%;
}

.clouds:hover .cloud-7{
	opacity: 0%;
}

.clouds:hover .cloud-8{
	opacity: 0%;
}



.head {
	position: absolute;
	left: 570px;
	top: 260px;
	width: 250px;
	height: 200px;
	background: #739AFF;
	border-radius: 100px;
	transform: rotate(35deg);
	z-index: -2;
}

.left-eye {
	position: absolute;
	left: 620px;
	top: 390px;
	width: 40px;
  height: 10px;
  background: #1D277C;
	transform: rotate(-55deg);
	z-index: -2;
}

.right-eye {
	position: absolute;
	left: 680px;
	top: 308px;
	width: 40px;
  height: 10px;
  background: #1D277C;
	transform: rotate(-55deg);
	z-index: -2;
}

.nose{
	position: absolute;
	left: 685px;
	top: 355px;
	width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 50px solid #1D277C;
	transform: rotate(-55deg);
	z-index: -2;
}

.mouth {
	position: absolute;
	left: 740px;
	top: 410px;
	width: 20px;
  height: 15px;
	background: #1D277C;
	border-radius: 100px;
	transform: rotate(-55deg);
	z-index: -2;
}

.face:hover .right-eye {

}

.star-1 {
	margin: 50px 0;
	position: absolute;
	left: 50px;
	top: 100px;
	display: block;
	color: #fff0ab;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
}
.star-1:before {
	border-bottom: 80px solid #fff0ab;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	transform: rotate(-35deg);
}
.star-1:after {
	position: absolute;
	display: block;
	color: #fff0ab;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

.star-2 {
	margin: 50px 0;
	position: absolute;
	left: 1200px;
	top: 600px;
	display: block;
	color: #fff0ab;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
}
.star-2:before {
	border-bottom: 80px solid #fff0ab;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	transform: rotate(-35deg);
}
.star-2:after {
	position: absolute;
	display: block;
	color: #fff0ab;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

.star-3 {
	margin: 50px 0;
	position: absolute;
	left: 180px;
	top: 150px;
	display: block;
	color: #fff0ab;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
	transform: scale(40%);
}
.star-3:before {
	border-bottom: 80px solid #fff0ab;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	transform: rotate(-35deg);
}
.star-3:after {
	position: absolute;
	display: block;
	color: #fff0ab;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

.star-4 {
	margin: 50px 0;
	position: absolute;
	left: 200px;
	top: 80px;
	display: block;
	color: #fff0ab;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
	transform: scale(25%);
}
.star-4:before {
	border-bottom: 80px solid #fff0ab;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	transform: rotate(-35deg);
}
.star-4:after {
	position: absolute;
	display: block;
	color: #fff0ab;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

.star-5 {
	margin: 50px 0;
	position: absolute;
	left: 1100px;
	top: 180px;
	display: block;
	color: #fff0ab;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
	transform: scale(25%);
}
.star-5:before {
	border-bottom: 80px solid #fff0ab;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	transform: rotate(-35deg);
}
.star-5:after {
	position: absolute;
	display: block;
	color: #fff0ab;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

.star-6 {
	margin: 50px 0;
	position: absolute;
	left: 1100px;
	top: 300px;
	display: block;
	color: #fff0ab;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
	transform: scale(15%);
}
.star-6:before {
	border-bottom: 80px solid #fff0ab;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	transform: rotate(-35deg);
}
.star-6:after {
	position: absolute;
	display: block;
	color: #fff0ab;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

.star-7 {
	margin: 50px 0;
	position: absolute;
	left: 150px;
	top: 400px;
	display: block;
	color: #fff0ab;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
	transform: scale(15%);
}
.star-7:before {
	border-bottom: 80px solid #fff0ab;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	transform: rotate(-35deg);
}
.star-7:after {
	position: absolute;
	display: block;
	color: #fff0ab;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

.star-8 {
	margin: 50px 0;
	position: absolute;
	left: 1300px;
	top: 50px;
	display: block;
	color: #fff0ab;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
	transform: scale(15%);
}
.star-8:before {
	border-bottom: 80px solid #fff0ab;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	transform: rotate(-35deg);
}
.star-8:after {
	position: absolute;
	display: block;
	color: #fff0ab;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

.star-9 {
	margin: 50px 0;
	position: absolute;
	left: 50px;
	top: 520px;
	display: block;
	color: #fff0ab;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
	transform: scale(40%);
}
.star-9:before {
	border-bottom: 80px solid #fff0ab;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	transform: rotate(-35deg);
}
.star-9:after {
	position: absolute;
	display: block;
	color: #fff0ab;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #fff0ab;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

p {
	position: absolute;
	left: 630px;
	top: 675px;
	font-family: "Basteleur";
	font-size: 20px;
	color: white;
}


a {
	position: absolute;
	left: 40px;
	top: 800px;
}

a:link {
color: white;
}

a:visited {
color: white;
}

a:hover {
color: #fff0ab;
}

a:active {
color: white;
}
