body {
  background-color: #996633;
}

#EmmaWu {
  color: #996633;
}


h1 {
  color: beige;
  font-family: 'times';
  font-size: 36px;
  letter-spacing: 20px;
  text-align: center;
}


a {
color: #e8de90;
text-align: center;
}

details {color: #e8de90;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3:hover {
  background-color: yellow;
}

/* mouse over link */
a:hover {
  color: red;
}
