body {
  background-color: #996633;
}

#EmmaWu {
  color: #996633;
}


h1 {
  color: beige;
  font-family: 'times';
  font-size: 36px;
  letter-spacing: 20px;
  text-align: center;
}


a {
color: #e8de90;
text-align: center;
}

details {color: #e8de90;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* mouse over link */
a:hover {
  color: red;
}

.btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background: beige;
  color: #996633;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin: auto;
  text-align: center;
}

.btn:hover {
  transform:  scale(1.2);
  opacity: 50%;
}
.btn {
transition: transform 250ms;
transition-timing-function: linear;
}


.h1{
  font-family: Pilowlava;
  src: url(Pilowlava-Regular.woff);
}
