body {
  background-color: black;
  font-family: 'Sono', sans-serif;
  transition: ease-in-out 1s;

}

h1 {
text-align: center;
font-size: 72px;
color: paleturquoise;
transition: ease-in-out 1s;

}


h2 {
font-size: 60px;
padding: 20px;
padding-left: 25px;
padding-right: 25px;
text-align: center;
color: paleturquoise;
transition: ease-in-out 1s;

}

h3 {
text-align: center;
font-size: 48px;
color: paleturquoise;
transition: ease-in-out 1s;

}

h4 {
text-align: center;
font-size: 24px;
color: paleturquoise;
transition: ease-in-out 1s;

}

p {
text-align: center;
font-size: 24px;
color: paleturquoise;
transition: ease-in-out 1s;

}

i {
  text-align: center;
  font-size: 16px;
  color: paleturquoise;
  transition: ease-in-out 1s;

}

@media (max-width:768px) {

body {
  background-color: paleturquoise;
  font-family: 'Sono', sans-serif;
}

h1 {
text-align: center;
font-size: 50px;
color: black;
}


h2 {
font-size: 36px;
padding: 20px;
padding-left: 25px;
padding-right: 25px;
text-align: center;
color: black;
}

h3 {
text-align: center;
font-size: 30px;
color: black;
}

h4 {
text-align: center;
font-size: 24px;
color: black;
}

p {
text-align: center;
font-size: 24px;
color: black;
}

i {
  text-align: center;
  font-size: 14px;
  color: black;
}
}
