html{
  cursor: url("imgs/blue-butterfly.PNG"), auto;
  font-family: 'EB Garamond';
}

body {
  transition: ease all 0.5s;
}

h1 {
  transition: ease all 1s;
}

#fairy {
  transition: ease all 0.5s;
}

#myfairy {
  transition: ease all 0.5s;
}

h2 {
  transition: ease all 0.5s;
}

p {
  transition: ease all 1s;
}

.syllable-1 {
  transition: ease all .5s;
}
.syllable-2 {
  transition: ease all .5s;
}
.syllable-3 {
  transition: ease all .5s;
}
.syllable-4 {
  transition: ease all .5s;
}
.syllable-5 {
  transition: ease all .5s;
}
.syllable-6 {
  transition: ease all .5s;
}
.syllable-7 {
  transition: ease all .5s;
}
.syllable-8 {
  transition: ease all .5s;
}

h6 {
  transition: ease all 1s;
}

.definition {
  transition: ease all 1.5s;
  font-size: 20px;
}

.leaves {
  font-size: 20px;
}

.waves {
  font-size: 20px;
  text-align: center;
}

#batfairy {
  max-width: 90%;
  height: auto;
  left: 0px;
  right: 0px;
  align-content: center;
  }

#bat{
  max-width: 90%;
  height: auto;
  float: center;
  }




@media (max-width: 2560px) {
  .container {
    margin: 1px;
    padding: 1rem 1rem;
  }

  body {
    background-color: orange;
    color: white;
    font-size: 18px;
  }

  h1 {
    padding: 5px;
    margin: 5px;
    font-size: 150px;
    letter-spacing: 50px;
    text-align: center;
    cursor: url("imgs/blue-butterfly.PNG"), auto;
  }

  #fairy {
    max-width: 200%;
    height: auto;
    left: 0px;
    right: 0px;
     }

  #myfairy{
    width: 400px;
    height: auto;
    position: relative;
     }

  h2 {
    position: relative;
    font-size: 75px;
    margin: 0px;
    }

    .syllable-1 {
      color: white;
      }

    .syllable-1:hover {
      color: red;
      font-size: 25px;
      }

    .syllable-2 {
      color: white;
      }

    .syllable-2:hover {
      color: red;
      font-size: 25px;
      }

    .syllable-3 {
      color: white;
      }

    .syllable-3:hover {
      color: red;
      font-size: 25px;
      }

    .syllable-4 {
      color: white;
      }

    .syllable-4:hover {
      color: red;
      font-size: 25px;
      }

    .syllable-5 {
      color: white;
      }

    .syllable-5:hover {
      color: red;
      font-size: 25px;
      }

    .syllable-6 {
      color: white;
      }

    .syllable-6:hover {
      color: red;
      font-size: 25px;
      }

    .syllable-7 {
      color: white;
      }

    .syllable-7:hover {
      color: red;
      font-size: 25px;
      }

    .syllable-8 {
      color: white;
      }

    .syllable-8:hover {
      color: red;
      font-size: 25px;
      }

  h6{
    position: relative;
    font-size: 50px;
    margin: 0px;
    max-width: 95%;
    }

  i {
    font-size: 50px;
    transition: all 1.0s ease-in-out;
    }

  i:hover {
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
    opacity: 0%;
    }

  b {
    font-size: 50px;
    transition: all 1.0s ease-in-out;
    }

  b:hover {
    font-size: 65px;
    color: tomato;
    }

  .whisper {
    text-align: center;
  }

  .hum {
    text-align: right;
  }

  .murmur {
    text-align: center;
  }

  .mutter {
    text-align: right;
  }

  .whispering {
    text-align: center;
  }

  sub {
    font-size: 18px;
  }

  sup {
    font-size: 18px;
  }

  .whispering {
    padding: 2px;
    -webkit-transition: all 1.5s ease-in-out;
    }

  .sh {
    opacity: 0%;
    -webkit-transition: all 1.5s ease-in-out;
  }

  .whispering:hover .sh{
  	opacity: 100%;
    }

  .sh-2 {
    opacity: 0%;
    -webkit-transition: all 0.5s ease-in-out;
    }

  .whispering:hover .sh-2{
  	opacity: 100%;
    }

  .sh-3 {
    opacity: 0%;
    -webkit-transition: all 2.5s ease-in-out;
    }

  .whispering:hover .sh-3{
  	opacity: 100%;
    }

  .definition {
    max-width: 100%;
    }

  .origin {
    text-align: right;
    margin: 0px;
    float: right;
    }

  #batfairy {
    max-width: 90%;
    height: auto;
    left: 0px;
    right: 0px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    }

  #bat {
    max-width: 90%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
    }

   a {
    text-align: right;
    margin: 5px;
    float: right;
    }

    a:link {
      color: white;
    }

    /* visited link */
    a:visited {
    color: white;
    }

    /* mouse over link */
    a:hover {
      color: #8c5522;
    }

    /* selected link */
    a:active {
      color: white;
    }


}




@media (max-width: 1024px) {
  body {
    background-color: olive;
    color: white;
    font-size: 18px;
    transition: ease all .5s;
  }

  h1 {
    padding: 5px;
    margin: 5px;
    position: relative;
    font-size: 140px;
    letter-spacing: 30px;
    text-align: center;
    cursor: url("imgs/blue-butterfly.PNG"), auto;
  }

  #fairy {
    max-width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    transition-property: float;
    transition: ease all 0.5s;
     }

  #myfairy{
    width: 300px;
    height: auto;
    position: relative;
    margin: auto;
    transition-property: float;
    transition: ease all 0.5s;
     }

  p {
    position: relative;
  }

  h2 {
    position: relative;
    font-size: 65px;
    margin: 0px;
    }

    .syllable-1 {
      color: white;
    }

    .syllable-1:hover {
      color: red;
      font-size: 25px;
    }

    .syllable-2 {
      color: white;
    }

    .syllable-2:hover {
      color: red;
      font-size: 25px;
    }

    .syllable-3 {
      color: white;
    }

    .syllable-3:hover {
      color: red;
      font-size: 25px;
    }

    .syllable-4 {
      color: white;
    }

    .syllable-4:hover {
      color: red;
      font-size: 25px;
    }

    .syllable-5 {
      color: white;
    }

    .syllable-5:hover {
      color: red;
      font-size: 25px;
    }

    .syllable-6 {
      color: white;
    }

    .syllable-6:hover {
      color: red;
      font-size: 25px;
    }

    .syllable-7 {
      color: white;
    }

    .syllable-7:hover {
      color: red;
      font-size: 25px;
    }

    .syllable-8 {
      color: white;
    }

    .syllable-8:hover {
      color: red;
      font-size: 25px;
    }

  h6 {
    position: relative;
    font-size: 35px;
    font-weight: normal;
    line-height: 50px;
    max-width: 80%;
    align-content: left;
    margin: 0px;
    }

  i {
    font-size: 35px;
    transition: all 1.0s ease-in-out;
    }

  i:hover {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    opacity: 0%;
    }

  b {
    font-size: 35px;
    transition: all 1.0s ease-in-out;
    }

  b:hover {
    font-size: 45px;
    color: orange;
    }

  sub {
    font-size: 12px;
    }

  sup {
    font-size: 12px;
    }

  .whispering {
    padding: 2px;
    -webkit-transition: all 1.5s ease-in-out;
    }

  .sh {
    opacity: 0%;
    -webkit-transition: all 1.5s ease-in-out;
  }

  .whispering:hover .sh{
  	opacity: 100%;
    }

  .sh-2 {
    opacity: 0%;
    -webkit-transition: all 0.5s ease-in-out;
    }

  .whispering:hover .sh-2{
  	opacity: 100%;
    }

  .sh-3 {
    opacity: 0%;
    -webkit-transition: all 2.5s ease-in-out;
    }

  .whispering:hover .sh-3{
  	opacity: 100%;
    }

  .waves {
    float: right;
    }

  .origin {
    float: right;
    text-align: right;
    margin: 2px;
    }

  .batfairy {
    max-width: 50%;
    }

    a:hover {
      color: #fcba03;
    }

}



@media (max-width: 768px) {
  body {
    background-color: #f0bc1f;
    color: white;
    font-size: 18px;
    transition: ease all .5s;
  }

  h1 {
    padding: 5px;
    margin: 5px;
    position: relative;
    font-size: 120px;
    letter-spacing: 20px;
    text-align: center;
    cursor: url("imgs/blue-butterfly.PNG"), auto;
  }

  #fairy {
    max-width: 100%;
    height: auto;
    transition-property: float;
    transition: ease all 0.5s;
     }

  #myfairy{
    width: 300px;
    height: auto;
    position: relative;
    float: right;
    transition-property: float;
    transition: ease all 0.5s;
    }

  p {
    position: relative;
  }

  h2 {
    position: relative;
    font-size: 40px;
    }

  h6{
    position: relative;
    font-size: 30px;
    font-weight: normal;
    line-height: 50px;
    max-width: 60%;
    }

  i {
    font-size: 30px;
    transition: all 1.0s ease-in-out;
    }

  i:hover {
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    opacity: 0%;
    }

  b {
    font-size: 30px;
    transition: all 1.0s ease-in-out;
    }

  b:hover {
    font-size: 40px;
    color: tomato;
    }

  .leaves img{
    max-width: 100%;
    }

  .waves {
    float: right;
    }

  .waves img{
    max-width: 100%;
    }

  .origin {
    float: right;
    text-align: right;
    margin: 2px;
    }

  #batfairy {
    max-width: 100%;
    }

    a:hover {
      color: #8c5522;
    }

}



@media (max-width: 560px) {
  body {
    background-color: #8c5522;
    color: white;
    font-size: 18px;
    transition: ease all .5s;
  }

  h1 {
    padding: 5px;
    margin: 5px;
    position: relative;
    font-size: 95px;
    letter-spacing: 7px;
    text-align: center;
    cursor: url("imgs/blue-butterfly.PNG"), auto;
  }

  #fairy {
    max-width: 100%;
    height: auto;
    transition-property: float;
    transition: ease all 0.5s;
     }

  #myfairy{
    width: 250px;
    height: auto;
    position: relative;
    float: right;
    margin: 5px;
    transition-property: float;
    transition: ease all 0.5s;
    }

  p {
    position: relative;
  }

  h2 {
    position: relative;
    font-size: 40px;
    }

  h6{
    position: relative;
    font-size: 30px;
    font-weight: normal;
    line-height: 50px;
    max-width: 60%;
    }

  i {
    font-size: 30px;
    transition: all 1.0s ease-in-out;
    }

  i:hover {
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    opacity: 0%;
    }

  b {
    font-size: 30px;
    transition: all 1.0s ease-in-out;
    }

  b:hover {
    font-size: 40px;
    color: gold;
    }

  .definition {
    max-width: 100%;
    margin-right: 2px;
  }

  .leaves {
    margin-right: 1px;
    padding-right: 2px;
  }

  .leaves img{
    max-width: 100%;
  }

  .waves {
    float: right;
    margin-left: 1px;
    padding-left: 2px;
    }

  .waves img{
    max-width: 100%;
    }

  .origin {
    float: right;
    text-align: right;
    margin: 2px;
    }

    .syllable-1 {
      color: white;
    }

    .syllable-1:hover {
      color: gold;
      font-size: 25px;
    }

    .syllable-2 {
      color: white;
    }

    .syllable-2:hover {
      color: gold;
      font-size: 25px;
    }

    .syllable-3 {
      color: white;
    }

    .syllable-3:hover {
      color: gold;
      font-size: 25px;
    }

    .syllable-4 {
      color: white;
    }

    .syllable-4:hover {
      color: gold;
      font-size: 25px;
    }

    .syllable-5 {
      color: white;
    }

    .syllable-5:hover {
      color: gold;
      font-size: 25px;
    }

    .syllable-6 {
      color: white;
    }

    .syllable-6:hover {
      color: gold;
      font-size: 25px;
    }

    .syllable-7 {
      color: white;
    }

    .syllable-7:hover {
      color: gold;
      font-size: 25px;
    }

    .syllable-8 {
      color: white;
    }

    .syllable-8:hover {
      color: gold;
      font-size: 25px;
    }

    #batfairy {
      max-width: 100%;
      }

}



@media (max-width: 320px) {
    body {
      background-color: #3d4a73;
      color: white;
      font-size: 18px;
      transition: ease all .5s;
      margin: 0 auto;
    }

    h1 {
      padding: 5px;
      margin: 5px;
      position: relative;
      font-size: 60px;
      letter-spacing: 3px;
      text-align: center;
      cursor: url("imgs/blue-butterfly.PNG"), auto;
    }

    #fairy {
      max-width: 90%;
      height: auto;
      transition-property: float;
      transition: ease all 0.5s;
       }

    #myfairy{
      width: 240px;
      height: auto;
      position: relative;
      float: right;
      margin: 5px;
      transition-property: float;
      transition: ease all 0.5s;
      }

    p {
      position: relative;
    }

    h2 {
      position: relative;
      font-size: 40px;
      }

    h6{
      position: relative;
      font-size: 30px;
      font-weight: normal;
      line-height: 50px;
      max-width: 60%;
      }

    i {
      font-size: 30px;
      transition: all 1.0s ease-in-out;
      }

    i:hover {
      font-size: 15px;
      font-weight: bold;
      vertical-align: middle;
      opacity: 0%;
      }

    b {
      font-size: 30px;
      transition: all 1.0s ease-in-out;
      }

    b:hover {
      font-size: 40px;
      color: gold;
      }

    .definition {
      max-width: 100%;
      margin-right: 2px;
    }

    .leaves {
      margin-right: 1px;
      padding-right: 2px;
    }

    .leaves img{
      max-width: 100%;
    }

    .waves {
      float: right;
      margin-left: 1px;
      padding-left: 2px;
      }

    .waves img{
      max-width: 100%;
      }

    .origin {
      float: right;
      text-align: right;
      margin: 2px;
      }

      .syllable-1 {
        color: white;
      }

      .syllable-1:hover {
        color: gold;
        font-size: 25px;
      }

      .syllable-2 {
        color: white;
      }

      .syllable-2:hover {
        color: gold;
        font-size: 25px;
      }

      .syllable-3 {
        color: white;
      }

      .syllable-3:hover {
        color: gold;
        font-size: 25px;
      }

      .syllable-4 {
        color: white;
      }

      .syllable-4:hover {
        color: gold;
        font-size: 25px;
      }

      .syllable-5 {
        color: white;
      }

      .syllable-5:hover {
        color: gold;
        font-size: 25px;
      }

      .syllable-6 {
        color: white;
      }

      .syllable-6:hover {
        color: gold;
        font-size: 25px;
      }

      .syllable-7 {
        color: white;
      }

      .syllable-7:hover {
        color: gold;
        font-size: 25px;
      }

      .syllable-8 {
        color: white;
      }

      .syllable-8:hover {
        color: gold;
        font-size: 25px;
      }

      #batfairy {
        max-width: 90%;
      }

    }
}
